@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-color: rgb(22, 22, 22);
        --secondary-color: rgb(32, 32, 32);
        --tertiary-color: rgb(52, 52, 52);
        --quaternary-color: rgb(72, 72, 72);
        --background-color: rgb(8, 8, 8);
        --accent-color-blue: rgb(0, 173, 217);
        --accent-color-pink: rgb(230, 80, 178);

        --plyr-menu-radius: 0.375rem;
        --modal-color: rgb(229 231 235);
        --plyr-menu-arrow-size: 0.525rem;
        --plyr-tooltip-arrow-size: 0.425rem;
        --plyr-range-thumb-height: 0.925rem;
        --plyr-menu-color: var(--modal-color);
        --plyr-tooltip-color: var(--modal-color);
        --plyr-color-main: var(--accent-color-blue);
        --plyr-video-control-color: rgb(243 244 246);
        --plyr-menu-background: var(--secondary-color);
        --plyr-tooltip-background: var(--secondary-color);
        --plyr-range-thumb-background: var(--modal-color);
        --plyr-video-control-background-hover: transparent;
        --plyr-video-control-color-hover: var(--plyr-color-main);
    }

    body {
        @apply bg-background text-gray-300;
    }

    h1 {
        @apply text-4xl text-gray-200;
    }

    h2 {
        @apply text-3xl text-gray-200;
    }

    h3 {
        @apply text-2xl text-gray-200;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    a {
        @apply text-sky-600 no-underline;
    }

    code {
        @apply inline-flex items-center py-1 px-2 bg-primary rounded;
    }

    input {
        @apply h-10 p-2 bg-primary rounded-md focus:outline-none focus:border-none autofill:bg-primary;
    }
}

.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255) !important;
}

@layer components {
    .card-grid {
        @apply grid grid-cols-2 justify-items-center gap-x-6 gap-y-10;
        @apply sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7;
    }
}
