@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-color: rgb(22, 22, 22);
        --secondary-color: rgb(35, 35, 35);
        --tertiary-color: rgb(46, 46, 46);
        --quaternary-color: rgb(57, 57, 57);
        --background-color: rgb(12, 12, 12);
        --accent-color-blue: rgb(0, 173, 217);
        --accent-color-pink: rgb(230, 80, 178);
    }

    body {
        @apply bg-background text-gray-300;
    }

    h1 {
        @apply text-4xl text-gray-200;
    }

    h2 {
        @apply text-3xl text-gray-200;
    }

    h3 {
        @apply text-2xl text-gray-200;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    a {
        @apply text-sky-600 no-underline;
    }

    code {
        @apply inline-flex items-center py-1 px-2 bg-primary rounded;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active{
        -webkit-text-fill-color: rgb(209 213 219);
        -webkit-box-shadow: 0 0 0 10rem var(--primary-color) inset;
    }

    input {
        @apply h-10 p-2 bg-primary rounded-md focus:outline-none focus:border-none autofill:bg-primary;
    }
}

@layer components {
    .card-grid {
        @apply grid grid-cols-2 justify-items-center gap-x-6 gap-y-10;
        @apply sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7;
    }
}

.swiper-pagination-bullet {
    background-color: var(--accent-color-blue) !important;
}

