@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-color: rgb(22, 22, 22);
        --secondary-color: rgb(32, 32, 32);
        --background-color: rgb(12, 12, 12);
        --accent-color-blue: rgb(0, 173, 217);
        --accent-color-pink: rgb(230, 80, 178);
    }

    body {
        @apply bg-background text-gray-300;
    }

    h1 {
        @apply text-4xl text-gray-200;
    }

    h2 {
        @apply text-3xl text-gray-200;
    }

    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    h5 {
        @apply text-lg;
    }

    input {
        @apply h-10 p-2 bg-primary rounded-md focus:outline-none focus:border-none;
    }
}

@layer components {
    .card-grid {
        @apply grid grid-cols-2 justify-items-center gap-x-6 gap-y-10;
        @apply sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7;
    }
}

.swiper-pagination-bullet {
    @apply bg-white;
    background-color: rgb(38, 215, 255) !important;
}
